numpy==1.26.4
pandas
scikit-learn
k_means_constrained
opencv-python
pillow
gdown
wget
easydict
pyyaml
python-json-logger
azure-storage-queue==12.10.0
azure-storage-blob==12.20.0
elasticsearch==8.13.1
pyopenssl==24.1.0
protobuf==6.30.2
networkx
openpyxl
reportlab
pyclustering
qdrant-client==1.15.1
pymongo==4.7.2